html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Open Sans", Oswald, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  width: 50%;
}

main {
  padding: 1rem;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ol li {
  border: 3px solid #987ffa;
  border-radius: 6px;
  justify-content: space-between;
  padding: 1.5rem;
  margin: .5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 2rem;
  color: #6f00e7;
  font-weight: bold;
  grid-row: 2;
}

p {
  font-family: Karma;
  font-size: 1.4rem;
  color: #000;
  font-weight: 500;
  align-self: center;
}

.cart {
  border-radius: 3em;
  background-color: #6f00e7;
  color: #fff;
  text-decoration: none;
  align-self: flex-start;
}

.cart a {
  color: #fff;
  text-decoration: none;
  padding: 0 1rem;
}

.share a {
  visibility: hidden;
}

.favourite a {
  visibility: hidden;
}
