html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Oswald, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  width: 75%;
}

main {
  padding: 1rem;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ol li {
  display: flex;
  flex-direction: column;
  border: 3px solid #987ffa;
  border-radius: 6px;
  justify-content: center;
}

h2 {
  font-size: 2rem;
  color: #6f00e7;
  font-weight: bold;
  padding: 0 1rem;
  margin: 0 1.5rem;
}

p {
  font-family: Karma;
  font-size: 1.4rem;
  color: #000;
  font-weight: 500;
  padding: .5em 1.5em .7em;
  margin: 1.5rem;
}
.cart {
  border-radius: 3em;
  background-color: #6f00e7;
  color: #fff;
  text-decoration: none;
  padding: .25em;
  margin: 0 1.5rem;
  width: 25%;
}

.cart img {
  width: 20%;
}

.cart a {
  color: #fff;
  text-decoration: none;
}

.share a {
  visibility: hidden;
}

.share img {
  width: 5%;
}

}
.favourite a {
  visibility: hidden;
}

.favourite img {
  width: 5%;
}
