html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Oswald, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  padding: 1rem;
  margin-bottom: 1.5rem;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
  padding: 0 1rem 1rem;
  list-style-type: none;
}

ol > li {
  display: flex;
  border: 3px solid #987ffa;
  border-radius: 6px;
  justify-content: space-between;
  padding: 1rem;
  margin: 0;
  flex-direction: column;
}

.tools {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: .25em;
  align-items: center;
}

ul li:first-child {
  margin-right: auto;
}

h2 {
  font-size: 2rem;
  color: #6f00e7;
  font-weight: bold;
  margin: auto 1.5rem;
  align-self: center;
}

p {
  font-family: Karma;
  font-size: 1.4rem;
  color: #000;
  font-weight: 500;
  padding: 0 .25em;
  margin: 0 .25em 1.5rem;
  text-align: center;
}

.btn {
  border-radius: 3em;
  background-color: #6f00e7;
  color: #fff;
  text-decoration: none;
  padding: .5em 1.5em .7em;
  margin-top: 1.5rem;
}

a span {
  color: #fff;
  text-decoration: none;
}

li > img {
  padding: 1rem;
  margin: auto 1.5rem;
}

.push a img:first-of-type {
  padding: .25em;
}
